@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
    line-height: 1;
    color: #555;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* General reuseable conponents///////////// */
*:focus{
    outline:none;
    box-shadow: 0 0 0.8rem #d369002e;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 9.6rem;
}
.grid:not(:last-child){
    margin-bottom: 9.6rem;
}
.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}
.grid--3-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}
.grid--5-cols{
    grid-template-columns: repeat(5,1fr);
}
.heading-primary{
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: #31112C;
    margin-bottom: 6.2rem;
}
.heading-secondary{
    color: #31112C;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 7.6rem;
    border: 1px solid #f7d2b5dc;
    border-top: 0;
    border-right: 0;
    border-radius: 10px;
    padding: 10px;
    
}
.subheading{
    display:block;
    color: #D36B00;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    padding:1.6rem 0 0;
}
.heading-tertiary{
    font-weight: bold;
    color: #31112C;
    font-size: 3.3rem;
    line-height: 1.2;
    border: 1px solid #f7d2b5dc;
    border-top: 0;
    border-right: 0;
    border-radius: 10px;
    padding: 10px;
}
.flex-center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* lists general  */
/* .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
} */
.list-item{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    /* background-color:#fad59dc9; */
    padding: 0.7rem;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 2rem;
}