/* rem and em do not depend on html font size in media queries
1rem = 1em = 16px
*/

/* BELOW 1300PX ////////////// */
@media (max-width:81em){
    .hero{
        max-width: 90vw;
    }
    .logos img{
        height: 3rem;
    }
    .delivered-meals{
        gap: 2rem;
    }
    .section-meals .grid {
        gap: 6.6rem;
    }
    .pricing-plan{
        padding: 2.5rem;
        width: 83%;
    }
    .cta{
        width: 90%;
    }

}
/* below 1088px */
@media (max-width:68em){
    /* .heading-primary{
        font-size: 4.5rem;
    }
    .step-text-box{
        gap: 4rem;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .section-testimonials .grid--2-cols{
        grid-template-columns: 2fr 1fr;
    }
    .section-pricing .grid--2-cols{
        gap: 5.6rem;
    }
    .pricing-plan{
        width: 85%;
    }
    .cta{
        width: 80%;
        height: 54rem;
    }
    .cta .heading-secondary{
        font-size: 2.5rem;
        margin-bottom: 1.6rem;
    }
    .cta-form input{
        padding: 0.8rem;
    }
    .cta-form{
        grid-template-columns: 1fr;
        row-gap: 2rem;

    } */
    html{
        font-size: 52%;
    }
    .hero{
        column-gap: 5.6rem;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .gallery-item img{
        width: 78%;
    }
    .gallery-item{
        text-align: center;
    }
}
/* below 896px /////////////////// */
@media (max-width:56em){
    .heading-primary{
        font-size: 4rem;
    }
    .section-how .grid--2-cols{
        gap: 4.6rem;
    }
    .section-meals .grid{
        gap: 2.6rem;
    }
    .section-testimonials .grid--2-cols{
        gap: 3.6rem;
    }
    .section-pricing .grid--4-cols{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .grid--footer{
        gap: 6.6rem;
    }
    
    
}
/* below 800px  ////////////////////////*/
@media (max-width:50em){
    .hero{
        grid-template-columns: 1fr;
        row-gap: 10rem;
        text-align: center;    
    }
    .hero-btns{
        justify-content: center;
    }
    .delivered-meals{
        justify-content: center;
    }
    .hero-img{
        width: 60%;
    }
    .logos{
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 2rem;
        height: 2.4rem;
    }
    .section-how .grid--2-cols{
        gap:1.6rem;
    }
    .step-number{
        font-size: 7.4rem;
    }
    .section-meals .grid--3-cols{
        grid-template-columns: repeat(2,1fr);
        gap: 9.6rem;
    }
    .diets{
        grid-column:1/-1;
        justify-self: center;
        padding: 2.5rem;
    }
    .section-testimonials .grid--2-cols{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(5,1fr);
    }
    .cta{
        grid-template-columns: 1fr;
        height: 70rem;
    }
    .cta-img-box{
        display: none;
    }
    .cta-form{
        grid-template-columns: 1fr;
        row-gap: 4.4rem;
    }
    .pricing-plan{
        width: 93%;
    }
    .section-pricing .grid--2-cols{
        gap: 2rem;
    }
    .grid--footer{
        grid-template-columns: repeat(3,1fr);
    }
    .nav-col{
        grid-row: 1;
    }
    /* mobile nav section /////////////////////////*/
    .btn-mobile-nav{
        display:block;
    }
    .main-nav{
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        transition: all 0.4s ease-in;

        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }
    .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

    }
    .nav-open .icon-mobile-nav[name="close-circle-outline"]{
        display:block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }
}
/* below 630px ///////////////////////*/
@media (max-width:39em){
    .logos img{
        height: 2rem;
    }
    .section-how .grid--2-cols{
        grid-template-columns: 1fr;
        row-gap: 4rem;
    }
    #step-text-2{
        grid-row: 3;
    }
    .step-text-box{
        gap: 3rem;
    }
    .section-meals .grid--3-cols{
        grid-template-columns: 1fr;
    }
    .meal{
        width: 70%;
        justify-self: center;
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        gap: 1rem;
    }
    .section-pricing .grid--2-cols{
        grid-template-columns: 1fr;
        
    }
    .pricing-plan{
        justify-self: center;
        width: 85%;
    }
    .grid--footer{
        column-gap: 2rem;
        row-gap:4rem;
    }
    .address-col{
        grid-column: 2/4;
    }
    .cta-form{
        row-gap: 3.5rem;
    }
}