
/* HEADER//////////////////////////////// */

.logo{
    height: 2.4rem;
}
.header{
    display: flex;
    /* width: 90vw;
    margin: 0 auto; */
    background-color: #fdf2e9;
    justify-content: space-between;
    align-items: center;
    padding:4.8rem;
}

.main-nav-list{
    display: flex;
    gap: 3.2rem;
    list-style: none;
}
.main-nav-link:link ,
.main-nav-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #666;
    font-weight: bold;
    transition: all 0.5s;
}
.main-nav-link:hover , 
.main-nav-link:active {
    color: #222;
}
/* HERO SECTION //////////////////////////*/
.hero-section{
    background-color: #fdf2e9;
    padding: 2.6rem 0 9.6rem;
    margin-bottom: 9.6rem;
}
.hero{
    max-width: 90vw;
    margin:0 auto ;
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: 9.6rem;
    align-items: center;
}
.hero-img{
    max-width: 100%;
}
/* .hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
} */

.hero-description{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.hero-btns{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}
.hero-btns .btn:link ,
.hero-btns .btn:visited{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #ffe6d2;
    background-color: #e26c12a3;
    padding: 1.7rem;
    border-radius: 10px;
    border: 0;
    /* always put transition on the original state */
    transition: all 1s;
    box-shadow: 1px 1.5px 5px #555;
}
.hero-btns .btn:hover ,
.hero-btns .btn:active{
    color: #fff;
    background-color: #fd9035;
    box-shadow: 0.5px 0.5px 4px #555;
}

.delivered-meals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.delivered-imgs{
    display: flex;
    
    
}
.delivered-imgs img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 0.3rem solid #ffe6d2;
    
}
.delivered-meals p{
    font-weight: bold;
    font-size: 1.2rem;
}
/* SECTION HOW ////////////////////////////// */

.section-how{
    padding: 0 0 9.6rem;
    margin-bottom: 9.6rem;
}
.step-img{
    width: 35%;
    z-index: 3;
}
.step-img-box{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.step-img-box::before{
    content: "";
    width: 60%;
    padding-bottom:60%;
    background-color: #fdf2e9;
    border-radius: 50%;
    border: solid 1px #ffa94d;
    box-shadow: 0 0 9px #ffa94d;
    position: absolute;
    z-index: 1;
}
.step-img-box::after{
    content: "";
    width: 50%;
    padding-bottom:50%;
    background-color: #fdf2e9;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    border: solid 1px #ffa94d;
    box-shadow: 0 0 9px #ffa94d;
}
.step-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.step-number{
    font-weight: bold;
    font-size: 9.8rem;
    color: #bbb;
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.6;
}