
/* HEADER//////////////////////////////// */

.logo{
    height: 2.4rem;
}
.header{
    display: flex;
    /* width: 90vw;
    margin: 0 auto; */
    background-color: #fdf2e9;
    justify-content: space-between;
    align-items: center;
    padding:4.8rem;
    position: relative;
}

.main-nav-list{
    display: flex;
    gap: 3.2rem;
    list-style: none;
}
.main-nav-link:link ,
.main-nav-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #666;
    font-weight: bold;
    transition: all 0.5s;
}
.main-nav-link:hover , 
.main-nav-link:active {
    color: #222;
}
/* Mobile /////////////////////////////// */
.btn-mobile-nav{
    border: none;
    background:none;
    cursor: pointer;
    display: none;
}
.icon-mobile-nav{
    font-size: 3rem;
    color: #333;
}
.icon-mobile-nav[name="close-circle-outline"]{
    display: none;
}
/* sticky navigation /////////////////////*/
.sticky .header{
    position: fixed;
    top: 0;
    height: 4rem;
    padding-top:0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.874);
    width: 100%;
    z-index: 999;
    transition: all 0.5s;
}
.sticky .hero-section{
    margin-top: 4rem;
}
/* HERO SECTION //////////////////////////*/
.hero-section{
    background-color: #fdf2e9;
    padding: 2.6rem 0 9.6rem;
    margin-bottom: 9.6rem;
}
.hero{
    max-width: 90vw;
    margin:0 auto ;
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: 9.6rem;
    align-items: center;
}
.hero-img{
    max-width: 100%;
}
/* .hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
} */

.hero-description{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.hero-btns{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}
.hero-btns .btn:link ,
.hero-btns .btn:visited{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #ffe6d2;
    background-color: #f77b1df5;
    padding: 1.4rem;
    border-radius: 10px;
    border: 0;
    /* always put transition on the original state */
    transition: all 0.5s;
    box-shadow: 1px 1px 3px rgb(178, 178, 178);
}
.hero-btns .btn:hover ,
.hero-btns .btn:active{
    color: rgb(245, 157, 56);
    background-color: #fefaf7;
}

.delivered-meals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.delivered-imgs{
    display: flex;
    
    
}
.delivered-imgs img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 0.3rem solid #ffe6d2;
    
}
.delivered-meals p{
    font-weight: bold;
    font-size: 1.2rem;
}

/* Featured in section ///////////////////////*/
.section-featured{
    padding: 0 0 9.6rem;
}
.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
}
.logos{
    display: flex;
    justify-content: space-around;
}
.logos img{
    height: 4rem;
    filter:grayscale(1);
    opacity: 60%;
}

/* SECTION HOW ////////////////////////////// */

.section-how {
    padding: 0 0 9.6rem;
    margin-bottom: 9.6rem;
    background-color: #fdf2e9;
}
.step-img{
    width: 35%;
    z-index: 3;
}
.step-img-box{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.step-img-box::before{
    content: "";
    width: 60%;
    padding-bottom:60%;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 1px #ffa94d;
    box-shadow: 0 0 9px #ffa94d;
    position: absolute;
    z-index: 1;
}
.step-img-box::after{
    content: "";
    width: 50%;
    padding-bottom:50%;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    border: solid 1px #ffa94d;
    box-shadow: 0 0 9px #ffa94d;
}
.step-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.step-number{
    font-weight: bold;
    font-size: 9.8rem;
    color: rgba(255, 189, 114, 0.736);
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.6;
}
/* MEALS SECTION ///////////////////////*/
.meal{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fcf9f6;
    /* padding: 2.2rem; */
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(216, 216, 216);
    border: 0;
    transition: all 0.5s;
}
.meal:hover{
    transform: translateY(-1.3rem);
    box-shadow: 1px 3px 20px rgb(181, 179, 179);
    
}
.section-meals{
    padding: 0 0 9.6rem;
}
.meal-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.meal-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    padding: 0 2rem;
}
.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.tag{
    color: #fff9f4;
    width: 40%;
    display: inline-block;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1aba35;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.meal-attributes li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.meal-attributes li span{
    font-size: 1.5rem;
    font-weight: medium;
}
.meal-icon{
    font-size: 1.9rem;
    color: #fd9035;
}
/* ///////// */
.diets{
    background-color: #fcf9f6;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(216, 216, 216);
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.diets h3{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding:2rem 0 1rem;
}
.all-recipes{
    padding: 5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}
.btn,
.diet-btn:link,
.diet-btn:visited{
    background-color: #fe8809;
    text-decoration: none;
    color: #fcf9f6;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 2px #e3e2e225;    
    transition: all 0.5s;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.299);
}
.diet-btn:hover,
.diet-btn:active{
    color: #fd9035;
    background-color: #fcf9f6;
}
/* Testimonials sections ////////////////*/
.section-testimonials .container{
    align-items: center;
}
.section-testimonials{
    padding: 0 0 9.6rem;
    background-color: #fdf2e9;
    /* align-items: center; */
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4.8rem;
}
.testimonial{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
}
.testimonial-name{
    font-size: 1.6rem;
    color: rgb(43, 43, 43);
    /* text-decoration: underline; */
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-top:2rem ;
}
.gallery-item{
    overflow: hidden;
}
.gallery-item img{
    width: 100%;
    transition: all 0.4s;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgb(201, 201, 201);

}
.gallery-item img:hover{
    transform: scale(1.1);
    
}

/* SECTION PRICING /////////////////////*/
.section-pricing{
    padding: 8rem 0 9.6rem;
}
.pricing-plan{
    border-radius: 11px;
    padding: 4.5rem;
    width: 70%;
}
.pricing-p-starter{
    justify-self: end;
    border: solid 1px #cf711f;
}
.pricing-p-starter li:last-child span{
    text-decoration: line-through;
}
.pricing-p-complete{
    background-color: #fcdec4;
    box-shadow: 0 0 5px #cf711f;
    position: relative;
}
.pricing-p-complete::after{
    content: "best";
    position: absolute;
    text-transform: uppercase;
    top: -15px;
    right: -15px;
    background-color: #cf711f;
    color: #fff;
    font-size: 1.4rem;
    font-weight:bold;
    padding: 1rem;
    border-radius: 20px;
}
.plan-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4.5rem;
}
.plan-name{
    color: #cf711f;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
}
.plan-price{
    font-size: 6.2rem;
    font-weight: bold;
    color: #333;
}
.plan-price span{
    font-size: 3rem;
    font-weight: inherit;
    margin-right: 0.7rem;
}
.plan-text{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #999;
}
.btn-price:link, 
.btn-price:visited{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #ffe6d2;
    background-color: #ff8f3af0;
    padding: 1rem;
    border-radius: 10px;
    /* always put transition on the original state */
    transition: all 0.5s;
    box-shadow: 0px 0px 3px #555;
}
.btn-price:hover , 
.btn-price:active{
    color: rgb(242, 150, 12);
    background-color: #fbede1;
}
.plan-sign-up{
    text-align: center;
    margin-top: 4.8rem;
}
/* FEATURE SECTION ///////////////////////////////// */
.feature{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.feature-icon{
    color: #D36B00;
    font-size: 2.4rem;
    background-color: #f6e9d5c9;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid #D36B00;
}
.feature-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: bold;
}
.feature-text{
    font-size: 1.5rem;
    line-height: 1.8;
}
.plan-details{
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
}
/* CTA SECTION //////////////////////////////// */
.section-cta{
    padding: 0 0 9.6rem;
}
.cta{
    width: 70%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: 1px 1px 5px #4e4e4e;
    border-radius: 15px;
    height: 50rem;
    background-image: linear-gradient(to bottom, #D36B00 , #ff8f3af0);
    overflow: hidden;
}
.cta-text-box{
    color: #4a2601;
    padding: 2rem 3.4rem;
}
.cta .heading-secondary{
    border: none;
    color:#331b01f9;
    margin-bottom: 2.6rem;
}
.cta-text{
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 3rem;
    
}
.cta-img-box{
    background-image:linear-gradient(to bottom, #d3690032 , #ff8f3a48), url(/eating.jpg);
    background-size: cover;
}
.cta-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 9px;
    background-color: #ffe6d2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
.cta-form input::placeholder{
    color: #aaa;
}

.btn--form{
    font-size: 1.8rem;
    font-family: inherit;
    align-self: end;
    cursor: pointer;
}
.btn--form:hover{
    background-color: #ffe6d2;
    color: #4a2601;
}
/* FOOTER/////////////////////////////// */
footer{
    padding: 9.6rem 0 12.6rem;
    /* background-color: rgba(232, 232, 232, 0.319); */
    border-top: 1px solid #ffa94d;
}
.grid--footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.footer-link:link,
.footer-link:visited{
    font-size: 1.4rem;
    text-decoration: none;
    color: #767676;
    transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active{
    color: #555;
}
.logo-col{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.footer-logo{
    display: block;
    margin-bottom: 2.4rem;
}
.social-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.social-links .footer-link{
    font-size: 2rem;
}
.social-icon{
    font-size: 2.4rem;
}
.copyright{
    font-size: 1.4rem;
    color: #555;
    line-height: 1.6;
    margin-top: auto;
}
.contacts{
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.6;
}
.address{
    margin-bottom: 2.4rem;
}